<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
</head>
<body>

<!--create navigation bar-->
<!--create html registration form-->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message-->
            <div th:if="${param.success}">
                <div class="alert alert-info">Registration successful</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>